<style>
  .user_admin ul {
    z-index: 1200;
  }
</style>
<div class="header_bar ">
    <!--\\\\\\\ header Start \\\\\\-->

    <div class="brand">
        <!--\\\\\\\ brand Start \\\\\\-->
        <a href="" style="text-decoration: none" >
        <div class="logo" style="display:block"><span class="theme_color">Book Karo</span> .COM</div>
        </a>
    </div>
    <!--\\\\\\\ brand end \\\\\\-->
    <div class="header_top_bar" style="background-color: #334559;">
        <a href="javascript:void(0);" class="menutoggle" pTooltip="Menu" tooltipPosition="bottom"> <i class="fa fa-bars"></i> </a>
        <a class="menuItems" routerLinkActive="menuItemSelected" [routerLink]="['Dashboard']" pTooltip="Home" tooltipPosition="bottom"> <i class="fa fa-home"></i> </a>
        <a class="menuItems" routerLinkActive="menuItemSelected" [routerLink]="['Item']" pTooltip="Menu Item" tooltipPosition="bottom"> <i class="fa fa-tag"></i> </a>
        <a class="menuItems" routerLinkActive="menuItemSelected" [routerLink]="['Branch']" pTooltip="Booking" tooltipPosition="bottom"> <i class="fa fa-book"></i> </a>
        <span class="menuItems" ><i style="color: wheat;">Hi {{_auth.getUserName()}}!!</i> </span>
        <!--\\\\\\\ header top bar start \\\\\\
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
        <div class="top_left">
            <div class="top_left_menu">
                <ul>
                    <li> <a href="javascript:void(0);"><i class="fa fa-repeat"></i></a> </li>
                    <li class="dropdown"> <a data-toggle="dropdown" href="javascript:void(0);"> <i class="fa fa-th-large"></i> </a>
                        <ul class="drop_down_task dropdown-menu" style="margin-top:39px">
                            <div class="top_left_pointer"></div>
                            <li><div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember">
                                    Remember me </label>
                            </div></li>
                            <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
                            <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                            <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <a href="javascript:void(0);" class="add_user" data-toggle="modal" data-target="#YourModal"> <i class="fa fa-plus-square"></i> <span> New Task</span> </a>
-->
        <div class="top_right_bar">
            <!--
            <div class="top_right">
                <div class="top_right_menu">
                    <ul>
                        <li class="dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"> Tasks <span class="badge badge">8</span> </a>
                            <ul class="drop_down_task dropdown-menu">
                                <div class="top_pointer"></div>
                                <li>
                                    <p class="number">You have 7 pending tasks</p>
                                </li>
                                <li> <a href="task.html" class="task">
                                    <div class="green_status task_height" style="width:80%;"></div>
                                    <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right green_label">80%</span> </div>
                                    <div class="task_detail">Task details goes here</div>
                                </a> </li>
                                <li> <a href="task.html" class="task">
                                    <div class="yellow_status task_height" style="width:50%;"></div>
                                    <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right yellow_label">50%</span> </div>
                                    <div class="task_detail">Task details goes here</div>
                                </a> </li>
                                <li> <a href="task.html" class="task">
                                    <div class="blue_status task_height" style="width:70%;"></div>
                                    <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right blue_label">70%</span> </div>
                                    <div class="task_detail">Task details goes here</div>
                                </a> </li>
                                <li> <a href="task.html" class="task">
                                    <div class="red_status task_height" style="width:85%;"></div>
                                    <div class="task_head"> <span class="pull-left">Task Heading</span> <span class="pull-right red_label">85%</span> </div>
                                    <div class="task_detail">Task details goes here</div>
                                </a> </li>
                                <li> <span class="new"> <a href="task.html" class="pull_left">Create New</a> <a href="task.html" class="pull-right">View All</a> </span> </li>
                            </ul>
                        </li>
                        <li class="dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"> Mail <span class="badge badge color_1">4</span> </a>
                            <ul class="drop_down_task dropdown-menu">
                                <div class="top_pointer"></div>
                                <li>
                                    <p class="number">You have 4 mails</p>
                                </li>
                                <li> <a href="readmail.html" class="mail"> <span class="photo"><img src="images/user.png" /></span> <span class="subject"> <span class="from">sarat m</span> <span class="time">just now</span> </span> <span class="message">Hello,this is an example msg.</span> </a> </li>
                                <li> <a href="readmail.html" class="mail"> <span class="photo"><img src="images/user.png" /></span> <span class="subject"> <span class="from">sarat m</span> <span class="time">just now</span> </span> <span class="message">Hello,this is an example msg.</span> </a> </li>
                                <li> <a href="readmail.html" class="mail red_color"> <span class="photo"><img src="images/user.png" /></span> <span class="subject"> <span class="from">sarat m</span> <span class="time">just now</span> </span> <span class="message">Hello,this is an example msg.</span> </a> </li>
                                <li> <a href="readmail.html" class="mail"> <span class="photo"><img src="images/user.png" /></span> <span class="subject"> <span class="from">sarat m</span> <span class="time">just now</span> </span> <span class="message">Hello,this is an example msg.</span> </a> </li>

                            </ul>
                        </li>
                        <li class="dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"> notification <span class="badge badge color_2">6</span> </a>
                            <div class="notification_drop_down dropdown-menu">
                                <div class="top_pointer"></div>
                                <div class="box"> <a href="inbox.html"> <span class="block primery_6"> <i class="fa fa-envelope-o"></i> </span> <span class="block_text">Mailbox</span> </a> </div>
                                <div class="box"> <a href="calendar.html"> <span class="block primery_2"> <i class="fa fa-calendar-o"></i> </span> <span class="block_text">Calendar</span> </a> </div>
                                <div class="box"> <a href="maps.html"> <span class="block primery_4"> <i class="fa fa-map-marker"></i> </span> <span class="block_text">Map</span> </a> </div>
                                <div class="box"> <a href="todo.html"> <span class="block primery_3"> <i class="fa fa-plane"></i> </span> <span class="block_text">To-Do</span> </a> </div>
                                <div class="box"> <a href="task.html"> <span class="block primery_5"> <i class="fa fa-picture-o"></i> </span> <span class="block_text">Tasks</span> </a> </div>
                                <div class="box"> <a href="timeline.html"> <span class="block primery_1"> <i class="fa fa-clock-o"></i> </span> <span class="block_text">Timeline</span> </a> </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            -->
            <div class="user_admin dropdown" *ngIf="!_auth.loggedIn()" >
                <a href="" data-toggle="modal" data-target="#LoginSignup">
                <img src="../assets/images/default-profile.png" width="50px" height="50px"/>
                </a>
            </div>
            <div class="user_admin dropdown" *ngIf="_auth.loggedIn()" pTooltip="{{_auth.getUserName()}}" tooltipPosition="bottom">
                <a href="javascript:void(0);" data-toggle="dropdown">
                <img src="../assets/images/default-profile.png" width="50px" height="50px"/>
                <!--<span class="user_adminname">Hi {{_auth.getUserName()}}!</span>-->
                <b class="caret"></b> </a>
                <ul class="dropdown-menu">
                    <div class="top_pointer"></div>
                    <li> <a (click)="logout()"><i class="fa fa-power-off"></i> Logout</a> </li>
                    <li> <a [routerLink]="['Booking']"><i class="fa fa-book"></i>My Bookings</a> </li>
                    <li *ngIf="_auth.isAdmin()"> <a [routerLink]="['User']"><i class="fa fa-user"></i>Users</a> </li>
                </ul>
            </div>

<!--
            <a href="javascript:;" class="toggle-menu menu-right push-body jPushMenuBtn rightbar-switch"><i class="fa fa-comment chat"></i></a>
       -->
        </div>
    </div>
    <!--\\\\\\\ header top bar end \\\\\\-->
</div>

<div class="modal fade" id="LoginSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h2 style="text-align: center" class="modal-title" id="myModalLabel">{{loginSuccess?"Login Successfull":" Login / Signup"}}</h2>
            </div>
            <div class="modal-body">
              <div *ngIf="loginSuccess" >
               <a data-dismiss="modal" class="btn btn-success btn-lg btn-block">OK! Thanks</a>
              </div>
                <ul *ngIf="!loginSuccess"  class="nav nav-tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#login_form">Login</a></li>
                    <li class="" *ngIf="!loginSuccess"><a data-toggle="tab" href="#signup_form">Signup</a></li>
                </ul>
                <div *ngIf="!loginSuccess" class="tab-content" id="myTabContent">
                    <div id="login_form" class="tab-pane fade active in">
                            <form *ngIf="!loginSuccess" #f="ngForm" class="form-horizontal row-border" novalidate (keypress)="enterPressedSignIn($event,f)">
                                <div class="form-group" [ngClass]="{'has-error': !email.valid && !email.pristine && email.touched, 'has-success':email.valid}">
                                    <label class="col-sm-3 control-label big">Email Id </label>
                                    <div class="col-sm-8">
                                        <input [(ngModel)]="user.email" name="email" style="text-transform: lowercase;" #email="ngModel" type="email" placeholder="Enter Your Email Id" class="form-control big" required minlength="5" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                    </div>
                                    <div class="col-md-1">
                                        <p class="help-block"><i class="fa" [ngClass]="{'fa-check': email.valid && !email.pristine , 'fa-times':!email.valid && !email.pristine}"></i></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger big err" [hidden]="email.valid || (email.pristine)">
                                            Email Id is required (minimum 5 characters).
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" [ngClass]="{'has-error': !pass.valid && !pass.pristine && pass.touched, 'has-success':pass.valid}">
                                    <label class="col-sm-3 control-label big">Password </label>
                                    <div class="col-sm-8">
                                        <input #pass="ngModel" name="pass" [(ngModel)]="user.password" type="password" placeholder="Enter Your Password" class="form-control big" required minlength="5">
                                    </div>
                                    <div class="col-md-1">
                                        <p class="help-block"><i class="fa" [ngClass]="{'fa-check': pass.valid && !pass.pristine , 'fa-times':!pass.valid && !pass.pristine}"></i></p>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger big err" [hidden]="pass.valid || (pass.pristine)">
                                            Password is required (minimum 5 characters).
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12" [hidden]="!incorrect">
                                        <div class="alert alert-danger big err">
                                            Your Email Or Password is Incorrect! Please try again!
                                            Don't Have an account yet then Sign-Up.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12" [hidden]="!serverOffline">
                                        <div class="alert alert-danger big err">
                                           We are Sorry! Server Seems to be offline!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success btn-block" [disabled]="!f.valid" (click)="Login()">Login</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </form>
                      <a (click)="toggleForgotPassword()" class="big" style="cursor: pointer;">Forgot Password?</a>
                      <form *ngIf="forgotPass && !loginSuccess && !key && !newPass" class="form-horizontal row-border" >
                        <div class="form-group" [ngClass]="{'has-error': !femail.valid && !femail.pristine && femail.touched, 'has-success':femail.valid}">
                          <label class="col-sm-3 control-label big">Email Id </label>
                          <div class="col-sm-6">
                            <input [(ngModel)]="forgotPassModal.email" name="femail" style="text-transform: lowercase;" #femail="ngModel" type="email" placeholder="Enter Your Email Id" class="form-control big" required minlength="5" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                          </div>
                          <button class="btn btn-success col-sm-3" (click)="forgotPassword()">Submit</button>
                          <div class="col-md-1">
                            <p class="help-block"><i class="fa" [ngClass]="{'fa-check': femail.valid && !femail.pristine , 'fa-times':!femail.valid && !femail.pristine}"></i></p>
                          </div>
                          <div class="col-sm-12">
                            <div class="alert alert-danger big err" [hidden]="femail.valid || (femail.pristine)">
                              Email Id is required (minimum 5 characters).
                            </div>
                          </div>
                        </div>
                      </form>
                      <form *ngIf="key && !loginSuccess && !forgotPass && !newPass" class="form-horizontal row-border" >
                        <div class="form-group" [ngClass]="{'has-error': !key.valid && !key.pristine && key.touched, 'has-success':key.valid}">
                          <label class="col-sm-3 control-label big">Key </label>
                          <div class="col-sm-6">
                            <input [(ngModel)]="forgotPassModal.key" name="key" style="text-transform: lowercase;" #key="ngModel" type="text" placeholder="Enter Your Key" class="form-control big" required minlength="5">
                          </div>
                          <button class="btn btn-success" (click)="verifyKey()">Submit</button>
                          <div class="col-md-1">
                            <p class="help-block"><i class="fa" [ngClass]="{'fa-check': key.valid && !key.pristine , 'fa-times':!key.valid && !key.pristine}"></i></p>
                          </div>
                          <div class="col-sm-12">
                            <div class="alert alert-danger big err" [hidden]="key.valid || (key.pristine)">
                             Key is Required ( more than 5 characters!)
                            </div>
                          </div>
                        </div>
                      </form>
                      <form *ngIf="newPass && !loginSuccess && !forgotPass && !key"  class="form-horizontal row-border" >
                        <div class="form-group" [ngClass]="{'has-error': !fSpass.valid && !fSpass.pristine && fSpass.touched, 'has-success':fSpass.valid}">
                          <label class="col-sm-3 control-label big">Password </label>
                          <div class="col-sm-8">
                            <input #fSpass="ngModel" name="fSpass" [(ngModel)]="temp" type="password" placeholder="Enter Your Password" class="form-control big" required minlength="5">
                          </div>
                          <div class="col-md-1">
                            <p class="help-block"><i class="fa" [ngClass]="{'fa-check': fSpass.valid && !fSpass.pristine , 'fa-times':!fSpass.valid && !fSpass.pristine}"></i></p>
                          </div>
                          <div class="col-sm-12">
                            <div class="alert alert-danger big err" [hidden]="fSpass.valid || (fSpass.pristine)">
                              Password is required (minimum 5 characters).
                            </div>
                          </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': !fRpass.valid && !fRpass.pristine && fRpass.touched || (fSpass.value != fRpass.value), 'has-success':fRpass.valid && (fSpass.value == fRpass.value)}">
                          <label class="col-sm-3 control-label big">RePassword </label>
                          <div class="col-sm-8">
                            <input #fRpass="ngModel" name="fRpass" [(ngModel)]="forgotPassModal.newPassword" type="password" placeholder="Retype your Password" class="form-control big" required minlength="5">
                          </div>
                          <div class="col-md-1">
                            <p class="help-block"><i class="fa" [ngClass]="{'fa-check': fRpass.valid && !fRpass.pristine && fSpass.value == fRpass.value, 'fa-times':!Rpass.valid && !Rpass.pristine || fSpass.value != fRpass.value}"></i></p>
                          </div>
                          <div class="col-md-12">
                            <div class="alert alert-danger big err" [hidden]="fRpass.valid || (fRpass.pristine)">
                              Password Must be more than 5 characters!
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="alert alert-danger big err" [hidden]="fSpass.value == fRpass.value">
                              Both passwords should match!.
                            </div>
                          </div>
                        </div>
                      <div class="form-group">
                        <button class="btn btn-success" (click)="changePassword()">Reset Password</button>
                      </div>
                      </form>

                    <div class="alert alert-danger" *ngIf="forgotPass && !loginSuccess || key || newPass">
                          <h2>{{passwordResetMessage}}</h2>
                    </div>
                      <div class="alert alert-success" *ngIf=" !loginSuccess && (!key || !newPass || !forgotPass) && passwordResetSuccess">
                        <h2>Password Was Reset Successfully!</h2>
                      </div>
                      <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button class="btn btn-info btn-block" disabled>OR</button></div>
                        <div class="col-md-4"></div>
                      </div><br>
                      <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8"><button id="googleBtn" class="btn btn-danger btn-block"><span class="fa fa-google-plus"></span> Google</button></div>
                        <div class="col-md-2"></div>
                      </div>

                    </div>


                    <div id="signup_form" class="tab-pane fade">
                        <form #sf="ngForm" class="form-horizontal row-border" novalidate>
                            <div class="form-group" [ngClass]="{'has-error': !Semail.valid && !Semail.pristine && Semail.touched || checking_Email_Error, 'has-success':Semail.valid && !checking_Email_Error}">
                                <label class="col-sm-3 control-label big">Email Id</label>
                                <div class="col-sm-8">
                                    <input #Semail="ngModel" name="Semail" (keyup)="CheckEmail($event.target.value)" style="text-transform: lowercase;" [(ngModel)]="userSignup.local.email" type="email" placeholder="Enter Your Email" class="form-control big" required minlength="5">
                                </div>
                                <div class="col-md-1">
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-check': Semail.valid && !Semail.pristine && !checking_Email_Error , 'fa-times':!Semail.valid && !Semail.pristine}"></i></p>
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-spinner fa-spin': checking_Email, 'fa-times fa-spin':checking_Email_Error}"></i></p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-danger big err" [hidden]="Semail.valid || (Semail.pristine)">
                                        Invalid Email Id!
                                    </div>
                                    <div class="alert alert-danger big err" [hidden]="!checking_Email_Error">
                                        This EmailId is Already Registered!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !Spass.valid && !Spass.pristine && Spass.touched, 'has-success':Spass.valid}">
                                <label class="col-sm-3 control-label big">Password </label>
                                <div class="col-sm-8">
                                    <input #Spass="ngModel" name="Spass" [(ngModel)]="userSignup.local.password" type="password" placeholder="Enter Your Password" class="form-control big" required minlength="5">
                                </div>
                                <div class="col-md-1">
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-check': Spass.valid && !Spass.pristine , 'fa-times':!Spass.valid && !Spass.pristine}"></i></p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-danger big err" [hidden]="Spass.valid || (Spass.pristine)">
                                        Password is required (minimum 5 characters).
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !Rpass.valid && !Rpass.pristine && Rpass.touched || (Spass.value != Rpass.value), 'has-success':Rpass.valid && (Spass.value == Rpass.value)}">
                                <label class="col-sm-3 control-label big">RePassword </label>
                                <div class="col-sm-8">
                                    <input #Rpass="ngModel" name="Rpass" [(ngModel)]="temp" type="password" placeholder="Retype your Password" class="form-control big" required minlength="5">
                                </div>
                                <div class="col-md-1">
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-check': Rpass.valid && !Rpass.pristine && Spass.value == Rpass.value, 'fa-times':!Rpass.valid && !Rpass.pristine || Spass.value != Rpass.value}"></i></p>
                                </div>
                                <div class="col-md-12">
                                    <div class="alert alert-danger big err" [hidden]="Rpass.valid || (Rpass.pristine)">
                                       Password Must be more than 5 characters!
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="alert alert-danger big err" [hidden]="Spass.value == Rpass.value">
                                        Both passwords should match!.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !FName.valid && !FName.pristine && FName.touched, 'has-success':FName.valid}">
                                <label class="col-sm-3 control-label big">First Name </label>
                                <div class="col-sm-8">
                                    <input #FName="ngModel" name="FName" [(ngModel)]="userSignup.otherDetails.fname" type="text" placeholder="Enter First Name" class="form-control big" required>
                                </div>
                                <div class="col-md-1">
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-check': FName.valid && !FName.pristine , 'fa-times':!FName.valid && !FName.pristine}"></i></p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-danger big err" [hidden]="FName.valid || (FName.pristine)">
                                        First Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !LName.valid && !LName.pristine && LName.touched, 'has-success':LName.valid}">
                                <label class="col-sm-3 control-label big">Last Name </label>
                                <div class="col-sm-8">
                                    <input #LName="ngModel" name="LName" [(ngModel)]="userSignup.otherDetails.lname" type="text" placeholder="Enter Last Name" class="form-control big" required>
                                </div>
                                <div class="col-md-1">
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-check': LName.valid && !LName.pristine , 'fa-times':!LName.valid && !LName.pristine}"></i></p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-danger big err" [hidden]="LName.valid || (LName.pristine)">
                                        Last Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': !Phone.valid && !LName.pristine && LName.touched, 'has-success':Phone.valid}">
                                <label class="col-sm-3 control-label big">Mobile</label>
                                <div class="col-sm-8">
                                    <input #Phone="ngModel" name="Phone" [(ngModel)]="userSignup.otherDetails.phone" type="text" placeholder="Enter Mobile Number" class="form-control big" pattern="[7|8|9][0-9]{9}" required>
                                </div>
                                <div class="col-md-1">
                                    <p class="help-block"><i class="fa" [ngClass]="{'fa-check': Phone.valid && !Phone.pristine , 'fa-times':!Phone.valid && !Phone.pristine}"></i></p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="alert alert-danger big err" [hidden]="Phone.valid || (Phone.pristine)">
                                       Please Enter a Valid Mobile Number!!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" [hidden]="!incorrectSignup">
                                    <div class="alert alert-danger big err">
                                        Something went wrong! Please Try Again!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" [hidden]="!serverOffline">
                                    <div class="alert alert-danger big err">
                                        We are Sorry! Server Seems to be offline!
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6">
                                    <button class="btn btn-success btn-block" [disabled]="!sf.valid || Spass.value != Rpass.value" (click)="Signup()">Sign-Up</button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-danger btn-block" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
