<!--\\\\\\\ inner start \\\\\\-->
<div class="left_nav">
    <div class="left_nav_slidebar">
        <br>
        <ul>
            <li routerLinkActive="left_nav_active theme_border">
                <a [routerLink]="['Dashboard']" style="font-size: 20px"><i style="color: #f35958" class="fa fa-home"></i> <span style="color: #0aa699">Home</span><span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-arrow-right"></i></span> </a>
            </li>
            <li routerLinkActive="left_nav_active theme_border">
                <a [routerLink]="['Item']" style="font-size: 20px"><i style="color: #f35958" class="fa fa-tag"></i> <span style="color: #0aa699">Menu</span> <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-arrow-right"></i></span> </a>
            </li>
            <li routerLinkActive="left_nav_active theme_border">
                <a [routerLink]="['Branch']" style="font-size: 20px"><i style="color: #f35958" class="fa fa-tag"></i> <span style="color: #0aa699">Booking</span> <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-arrow-right"></i></span> </a>
            </li>
        </ul>
         </div>
     </div>
     <!--\\\\\\\left_nav end \\\\\\-->